@font-face {
  font-family: 'quentin';
  src: url('res/quentin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'draconis';
  src: url('res/draconis.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}

button {
  --accent: #992E2E;
  font-weight: bold;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 1.1em;
  background-color: #212121;
  cursor: pointer;
  color: white;
  padding: 1em 2em;
  transition: background-color ease-in-out 0.1s,
    letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
}

button:active {
  box-shadow: var(--hover-shadows), var(--accent) 0px 0px 30px 5px;
  background-color: var(--accent);
  transform: scale(0.95);
}

.main {
  width: 100%;
  text-align: center;
  background-color: #C73032;
}

.topbar {
  background-color: #992E2E;
  color: white;
  font-family: 'draconis';
  font-size: 3rem;
  margin: 0;
  padding: 0;
  line-height: 1rem;
  box-sizing: border-box;
}

.loading-title {
  font-family: 'quentin';
  font-size: 12rem;
  color: white;
  min-width: 220px;
  margin: 0 auto;
  padding: 0;
  line-height: 1rem;
  box-sizing: border-box;

}

.loading-messages {
  font-family: 'draconis';
  font-size: 5rem;
  color: white;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
    width: 5rem;
    animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
