@font-face {
  font-family: 'quentin';
  src: url('res/quentin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'draconis';
  src: url('res/draconis.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}

.main {
  width: 100%;
  text-align: center;
  background-color: #C73032;
}

.connected {
  width: 100%;
  text-align: center;
  background-color: #dbc6c7;
}

.loading-title {
  font-family: 'quentin';
  font-size: 12rem;
  color: white;
  min-width: 220px;
  margin: 0 auto;
}

.loading-messages {
  font-family: 'draconis';
  font-size: 5rem;
  color: white;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
    width: 5rem;
    animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
